.completed {
  text-decoration: line-through;
  color: red;
}

.todo-item {
  display: flex;
  padding: 5px;
  row-gap: 10px;
  column-gap: 10px;
  align-items: flex-start;
}

label {
  font-family: 'Arial';
  font-size: 14px;
}

[type='checkbox'] {
  margin-right: 10px;
  vertical-align: middle;
}
